.appointment{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.appointment-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1.2fr 1.8fr;
    grid-template-areas: 
    'content1 content2 image2'
    'image1 content2 image2';
    place-items: center;
    grid-gap: 2rem;
}

.appointment-heading{
    grid-area: content1;
    justify-self: left;
    align-self: flex-start;
    margin-top: 2rem;
}

.appointment-img1{
    grid-area: image1;
    margin: 0 2rem 0 2rem;
}

.appointment-description{
    grid-area: content2;
    justify-self: left;
    align-self: flex-start;
    margin-top: 2rem;
}

.appointment-img2{
    grid-area: image2;
}

.appointment-heading h2{
    font-size: var(--size-6xl);
}

.appointment-description p{
    font-size: var(--size-xl);
}

.appointment-btn{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.appointment-btn p{
    font-size: var(--size-xl);
}

.appointment-btn a{
    font-size: var(--size-xl);
}

#appointBG{
    color: var(--clr-bluelight);
    background-color: var(--clr-lightbtn);
    border-radius: 2rem;
    padding: 1.5rem;
}

/* appointment form */

.appointment-form-wrapper{
    z-index: 9999;
    position: fixed;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    height: 550px;
    background-color: var(--clr-bluelight);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.3s ease, background-color 0.3s ease;    
}

.appointment-active-popup{
    transform: scale(1);
}

.doctor-list{
    width: 100%;
    padding: 40px;
}

.doctor-list ul li h3{
    margin-top: 1rem;
}

.doctor-list h2,
.appointment-calendar h2{
    font-size: var(--size-3xl);
    text-align: center;
}

.doctor-list h2{
    margin-bottom: 2rem;
}

.appointment-icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: var(--size-2xl);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-lightbtn);
    border-bottom-left-radius: 20px;
    z-index: 1;
    color: var(--clr-dark);
}

.book-appointment{
    width: 100%;
    height: 45px;
    background-color: var(--clr-lightbtn);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: var(--size-base);
    color: var(--clr-dark);
    font-weight: 500;
    margin-top: 1rem;
}