.login-wrapper{
    z-index: 9999;
    position: fixed;
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 440px;
    background-color: var(--clr-bluelight);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.3s ease, height .2s ease, background-color 0.3s ease;
}

.active-popup{
    transform: scale(1);
}

.active{
    height: 520px;
}

.form-box{
    width: 100%;
    padding: 40px;
}

.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.active .login{
    transition: none;
    transform: translateX(-400px);
}

.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.active .register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: var(--size-2xl);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-lightbtn);
    border-bottom-left-radius: 20px;
    z-index: 1;
    color: var(--clr-dark);
}

.form-box h2{
    font-size: var(--size-3xl);
    text-align: center;
}

.input-form{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--clr-light);
    margin: 30px 0;
}

.input-form label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: var(--size-base);
    font-weight: 500;
    pointer-events: none;
    transition: top 0.3s;
}

.input-form input:focus~label,
.input-form input:valid~label{
    top: -5px;
}

.input-form input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: var(--size-base);
    font-weight: 500;
    color: var(--clr-light);
    padding: 0 35px 0 5px;
}

.input-form .icon{
    position: absolute;
    right: 8px;
    font-size: var(--size-base);
    line-height: 57px;
}

.remember-forget{
    font-size: var(--size-sm);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input{
    accent-color: var(--clr-rose);
    margin-right: 6px;
}

.remember-forget a{
    color: var(--clr-lightbtn);
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.btnlog{
    width: 100%;
    height: 45px;
    background-color: var(--clr-lightbtn);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: var(--size-base);
    color: var(--clr-dark);
    font-weight: 500;
}

.login-register{
    font-size: var(--size-sm);
    color: var(--clr-lightbtn);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: var(--clr-lightbtn);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}